h1 {
    line-height: 35px;
    letter-spacing: -0.01em;
}

h3 {
    line-height: 22px;
    letter-spacing: 0.03em;
}

img {
    user-select: none;
}

.tag {
    border: 1px solid #000000;
    padding: 0 8px;
    position: absolute;
    top: 0.5rem;
    user-select: none;
}

.product-card {
    min-width: 22%;
}

::-webkit-scrollbar {
    height: 4px;
    width: 6px;
    border-radius: 100px;
}
  
::-webkit-scrollbar-track {
    background: #DDD6D7;
    height: 4px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #231F20;
    height: 4px;
    border-radius: 100px;
}

.products::-webkit-scrollbar-thumb:hover {
    /* Height does not change on hover - create the same effect using outline */
    /* height: 6px; */ 
    outline: 1px solid #231F20;
    background: #231F20;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .products > .product-card:nth-child(n+5) {
        height: 0;
        opacity: 0;
    }

    .products {
        overflow: hidden;
        transition: max-height 2s ease-in-out;
    }
    
    .products.open {
        transition: max-height 2s ease-in-out;
        
    }
}